# /etc/systemd/system/matrix-synapse.service

# --- code by: @nexxtdragon on github ---
# --- contacts: https://nextdragon.is-a.dev/ ---
#  ,-.       _,---._ __  / \
# /  )    .-'       `./ /   \
# (  (   ,'            `/    /|
# \  `-"             \'\   / |
#  `.              ,  \ \ /  |
#   /`.          ,'-`----Y   |
#  (            ;        |   '
#  |  ,-.    ,-'         |  /
#  |  | (   |            | /
#  )  |  \  `.___________|/
#  `--'   `--'
# --- made with: <3 ---
# --- allowed to fork, reuse and modificate with credits ---

[Unit]
Description=Matrix Synapse Server
After=network.target

[Service]
Type=simple
User=synapse
WorkingDirectory=/var/lib/synapse
EnvironmentFile=/var/lib/synapse/.env
# a quick breakdown of what is happening below:
# 1. with bash, execute synapse through python virtual environment and set configuration file path to /var/lib/synapse/homeserver.yaml
# 2. export variables from .env and insert the actual data into the config file
# the last thing requires gettext to be installed!
ExecStart=/bin/bash -c '/var/lib/synapse/pyenv/bin/python -m synapse.app.homeserver --config-path <(envsubst < /var/lib/synapse/homeserver.yaml)'
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target